Package         Version
--------------- -------
numpy           1.18.5
pandas          0.24.2
pip             20.2.4
pkg-resources   0.0.0
python-dateutil 2.8.1
pytz            2020.4
setuptools      50.3.2
six             1.15.0
wheel           0.35.1
